@media (max-width: 1350px) {
  .header {
    min-height: 100vh;
  }
  .nav {
    padding: 20px 20px 0;
    margin-bottom: 100px;
  }
  .nav__item + .nav__item {
    margin-left: 30px;
  }
  .nav__btn-img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .nav__btn-inner {
    font-size: 0;
    padding: 8px 8px;
    margin-bottom: 16px;
  }
}
@media (max-width: 1180px) {
  section {
    margin-top: 100px;
  }
  .header__bottom-inner {
    flex-wrap: wrap;
  }
  .header__progressbar {
    width: 100%;
  }
  .works__inner {
    align-items: flex-start;
  }
  .works__img {
    max-width: 100%;
  }
}
@media (max-width: 850px) {
  .nav__list {
    position: relative;
  }
  .nav__list-inner {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    width: 290px;
    padding: 20px 20px 10px;
    position: absolute;
    flex-direction: column;
    transform: translate(-116px, -140%);
    transition: all 1s;
  }
  .nav__list-inner--adaptive {
    transform: translate(-116px, 10%);
    z-index: 10;
  }
  .nav__list-menuimg {
    display: block;
    z-index: 2;
  }
  .nav__list-menuimg--close {
    transform: scaleY(-1);
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item {
    text-align: center;
    margin: 0 0 10px;
    padding: 12px;
  }
  .works__inner {
    flex-direction: column;
  }
  .works__descr {
    padding-left: 0;
  }
  .works__descr-title {
    font-size: 35px;
    line-height: 42px;
  }
  .works__image {
    max-width: 50%;
  }
  .works__descr {
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .occupation {
    margin-bottom: 100px;
  }
  .occupation__title {
    margin-bottom: 50px;
  }
  .occupation__inner {
    flex-wrap: wrap;
  }
  .occupation__card {
    min-width: 100%;
    margin-bottom: 50px;
  }
  .occupation__card-img {
    margin-bottom: 20px;
  }
  .occupation__card + .occupation__card {
    margin-left: 0;
  }
  .brands__title {
    text-align: center;
    padding-left: 0;
    padding-top: 50px;
  }
  .brands__title::before {
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
  }
  .tutors__title {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 0;
  }
  .tutors__title::before {
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
  }
}
@media (max-width: 570px) {
  .header__title {
    font-size: 50px;
    line-height: 70px;
  }
  .nav {
    margin-bottom: 30px;
  }
  .countdown__item-num {
    font-size: 25px;
    line-height: 36px;
  }
  .countdown__item-text {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 26px;
    line-height: 30px;
  }
  .header__progressbar {
    margin-top: 8px;
  }
  .header__progressbar-text--num {
    margin-left: 15px;
  }
  .header__bottom-inner {
    padding: 5px 0;
  }
  .header__btn {
    font-size: 14px;
    padding: 5px 10px;
  }
  .countdown {
    width: 100%;
    flex-wrap: wrap;
  }
  .countdown__item + .countdown__item {
    margin-left: 15px;
  }
  .countdown__item-num {
    padding: 5px 17px 0;
    font-size: 18px;
    line-height: 20px;
  }
  .countdown__item-text {
    padding-bottom: 5px;
    line-height: 18px;
    font-size: 11px;
  }
  .brands__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .study__week::before {
    width: 20px;
  }
  .study__week:nth-child(2n-1) {
    padding-right: 30px;
  }
  .study__week:nth-child(2n) {
    padding-left: 30px;
  }
  .study__week-text {
    font-size: 12px;
  }
}