@media (max-width: 1350px) {
  .nav {
    padding: 20px 20px 0;
    margin-bottom: 100px;
  }
  .nav__item + .nav__item {
    margin-left: 30px;
  }
  .nav__btn-img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .nav__btn-inner {
    font-size: 0;
    padding: 8px 8px;
    margin-bottom: 9px;
  }
}
@media (max-width: 1180px) {
  .header__bottom-inner {
    flex-wrap: wrap;
  }
  .header__progressbar {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .nav__list {
    position: relative;
  }
  .nav__list-inner {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    width: 290px;
    padding: 20px;
    position: absolute;
    flex-direction: column;
    transform: translate(-43%, -140%);
    transition: all 0.7s;
  }
  .nav__list-inner--adaptive {
    transform: translate(-43%, 10%);
    z-index: 1;
  }
  .nav__list-menuimg {
    display: block;
  }
  .nav__item + .nav__item {
    margin-left: 0;
  }
  .nav__item {
    text-align: center;
    margin: 0 0 10px;
    padding: 15px;
  }
}
@media (max-width: 570px) {
  .header__title {
    font-size: 50px;
    line-height: 70px;
  }
  .nav {
    margin-bottom: 30px;
  }
  .countdown__item-num {
    font-size: 25px;
    line-height: 36px;
  }
  .countdown__item-text {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .header__title {
    font-size: 30px;
    line-height: 40px;
  }
  .header__progressbar {
    margin-top: 20px;
  }
  .header__progressbar-text--num {
    margin-left: 15px;
  }
  .countdown {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .countdown__item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .countdown__item + .countdown__item {
    margin-left: 0px;
  }
}
.header__btn {
  margin-bottom: 20px;
}